a{
    text-decoration: none;
    color: #212529;
}
a:hover{
    text-decoration: none;
    color: #201d1d;
}
body.dark-mode {
    background-color: #201d1d;
    color: white;
}
body{
    background-color: #f8f7fa;
}
/* Estilos para el DataTable en modo oscuro */
.dark-mode .table {
    background-color: #201d1d;
    color: #b4afaf;
}

.dark-mode .table th,
.dark-mode .table td {
    border-color: #555;
}

.dark-mode .dataTables_wrapper .dataTables_filter,
.dark-mode .dataTables_wrapper .dataTables_length,
.dark-mode .dataTables_wrapper .dataTables_info {
    color: white;
}

.dark-mode .dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #444;
    color: white;
    border: 1px solid #555;
}

.dark-mode .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #555;
    color: white;
}

.dark-mode .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #333;
    border: 1px solid #444;
}

.dark-mode .modal-content {
    background-color: #444;
    color: white;
}

/* Opcionalmente, puedes aplicar estilos para las celdas del DataTable */
.dark-mode .table tbody tr:nth-child(even) {
    background-color: #444;
}

.dark-mode .table tbody tr:nth-child(odd) {
    background-color: #555;
}

.dark-mode #toggleDarkMode{
    color: #f18c07;
}

#toggleDarkMode{
    color: #ddd4c9;
    cursor: pointer !important;
}
.dark-mode .card{
    background-color: #2c3034;
}
.dark-mode .card-body{
    background-color: #2c3034;
    color: #ddd4c9;
}
.dark-mode input,.dark-mode select{
    background-color: #201d1d !important;
    color: #ddd4c9 !important;
}
.dark-mode .text-body{
    color: #ddd4c9 !important;
}
select{
  font-weight: 400;
  line-height: 1.5;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input{
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.dark-mode .paginate_button{
    color: #212529;
}
.paginate_button{
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    background: #ebe7e2;
    margin:5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
